<div class="container">
  <div (click)="clickedBox(0)" class="box">
    <div [ngClass]="{ 'ball': ballMatrix[0], 'trail': ballMatrixPrev[0] }"></div>
  </div>
  <div (click)="clickedBox(1)" class="box">
    <div [ngClass]="{ 'ball': ballMatrix[1], 'trail': ballMatrixPrev[1] }"></div>
  </div>
  <div (click)="clickedBox(2)" class="box">
    <div [ngClass]="{ 'ball': ballMatrix[2], 'trail': ballMatrixPrev[2] }"></div>
  </div>
  <div (click)="clickedBox(3)" class="box">
    <div [ngClass]="{ 'ball': ballMatrix[3], 'trail': ballMatrixPrev[3] }"></div>
  </div>
</div>