.ball {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
}

.trail {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 169, 169);
    border-radius: 50%;
}

.container {
    
}

.box {
    width: 110px;
    height: 110px;
    border: 1px solid black;
}